/* Styles personalizados */

body {
  transition: background-color 0.4s ease, color 0.4s ease;
}
h1{
  text-align: center;
}
/* Sidebara la izquierda */
.sidebar{
  position: relative;
  width: 20%;
  color: #3a8f7b;
  background-color: #e0e0e0;
  min-height: 100vh;
  left: 0;
  z-index: 1000;
}
.nav-link{
  color: #3a8f7b;
  
}
.nav-pills .nav-link.active{
    background-color: #3a8f7b ;
}
.nav-link.active{
  background-color: #3a8f7b ;
}

/* Botón estilo acordeón (desplegable) */
.btn-link {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
}


#mainContent {
  position: relative;
  padding-left: 40px;
  margin-left: 50px;
  margin-top: 56px;
  width: 75%;
}

/* Botones de acción */
.icon-btn {
  background-color: #00796b;
  color: white;
  border: none;
  border-radius: 6px;
  margin-right: 4px;
  padding: 4px 6px;
  transition: background-color 0.2s ease;
}

.search-button{
  display: grid;
}

.icon-btn:hover {
  background-color: #005f56;
}

/* Dark mode */
body.dark-mode {
  background-color: #121212;
  color: #f1f1f1;
}

body.dark-mode .table {
  color: #f1f1f1;
}

body.dark-mode .table thead {
  background-color: #1e1e1e;
}

body.dark-mode .sidebar {
  background-color: #2c2c2c;
}

body.dark-mode .nav-link {
  color: #ccc;
}

body.dark-mode .nav-link.active {
  background-color: #3a8f7b;
}

body.dark-mode .icon-btn {
  background-color: #4db6ac;
}
