<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Integracion | @ViewData["Title"]</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/sic.styles.css" asp-append-version="true" />
    <link rel="icon" href="~/images/SIC_cube.png" type="image/png">
</head>
<body class="bg-dark text-white">
    <div 
    class="min-vh-100"
    style="background: url('@Url.Content("~/images/UT_pattern_bg.png")')
          no-repeat center center fixed; background-size: cover;
          background-color: rgba(0, 0, 0, 0.3);
          background-blend-mode: overlay;"
    >
      <header class="col-lg-12">
          <div class="shadow-lg p-3" style="width: 100%; background-color: white; border-bottom: 2px solid #3b3b3b;">
              <h1 class="text-center text-uppercase" style="color: #009650;">@ViewData["Header"]</h1>
          </div>
      </header> 
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="shadow-lg p-4" style="background-color:whitesmoke">
              <form class="d-grid gap-2" asp-controller="Integracion" method="post">
                @RenderBody()
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
