@{
  ViewData["Title"] = "Aviso de Privacidad";
  ViewData["Header"] = "Aviso de Privacidad";
  Layout = "_LayoutIntegracion";
}


<h1>Aviso privacidad</h1>
<button type="button" class="btn btn-primary w-25 ms-auto mt-4" onclick="location.href='@Url.Action("Dashboard", "Usuario")'">Continuar</button>